body{
    font-family: 'Poppins';
}
.nav-bg{
    background-color:#ffff;
}
.navbar-nav{
    font-size:18px;
}
.navbar-brand img{
    width: 100px;  
}
h1{
    font-weight:bold;
}
 
.card-footer {
    background-color: white;
    border-top: none;
    padding-bottom: 1.5rem;
}
.underline-block{
    width: 100px;
    height: 8px;
    border-radius: 10px;
    background-image: linear-gradient(to right, #ff8206, #ffff00);

}
.card {
    border: none;
    box-shadow: 1px 1px 10px #80808080;
    border-radius: 10px;
}
#bag-cat {
    border-radius: 5px 15px 5px 30px;
}